	<article class="work">
		<section class="work-img" style="background-image: url(images/work-enamelon.jpg);"></section>
		<section class="work-desc">
		<h3>Enamelon</h3>
		<ul>
			<li><strong>Team:</strong> I-SITE</li>
			<li><strong>Role:</strong> Development</li>
			<li><strong>Tools:</strong> Drupal, Twitter Bootstrap</li>
		</ul>
		<p></p>
		</section>
	</article>
	<article class="work">
		<section class="work-img" style="background-image: url(images/work-lmhq.jpg);"></section>
		<section class="work-desc">
		<h3>Lower Manhattan HQ</h3>
		<ul>
			<li><strong>Team:</strong> I-SITE</li>
			<li><strong>Role:</strong> Development</li>
			<li><strong>Tools:</strong> Foundation, PHP, JavaScript</li>
		</ul>
		<p></p>
		</section>
	</article>
	<article class="work">
		<section class="work-img" style="background-image: url(images/work-ccg.jpg);"></section>
		<section class="work-desc">
		<h3>Commercial Credit Group</h3>
		<ul>
			<li><strong>Team:</strong> Alter Imaging</li>
			<li><strong>Role:</strong> Development</li>
			<li><strong>Tools:</strong> WordPress, Twitter Bootstrap</li>
		</ul>
		<p></p>
		</section>
	</article>
	<article class="work">
		<section class="work-img" style="background-image: url(images/work-trestle.jpg);"></section>
		<section class="work-desc">
		<h3>The Trestle Inn</h3>
		<ul>
			<li><strong>Team:</strong> I-SITE</li>
			<li><strong>Role:</strong> Design</li>
			<li><strong>Tools:</strong> Photoshop, Illustrator</li>
		</ul>
		<p></p>
		</section>
	</article>
	<article class="work">
		<section class="work-img" style="background-image: url(images/work-medspa.jpg);"></section>
		<section class="work-desc">
		<h3>Philadelphia Med Spa</h3>
		<ul>
			<li><strong>Team:</strong> Independent</li>
			<li><strong>Role:</strong> Design and Development</li>
			<li><strong>Tools:</strong> WordPress</li>
		</ul>
		<p></p>
		</section>
	</article>
	<article class="work">
		<section class="work-img" style="background-image: url(images/work-wyncote.jpg);"></section>
		<section class="work-desc">
		<h3>Wyncote Foundation</h3>
		<ul>
			<li><strong>Team:</strong> I-SITE</li>
			<li><strong>Role:</strong> Development</li>
			<li><strong>Tools:</strong> WordPress, Twitter Bootstrap</li>
		</ul>
		<p></p>
		</section>
	</article>