---
title: Nilubol Duangjumpa
---

<header class="header">
	<section class="intro">
		<h1 class="title">Nilubol</h1>
		<p class="body">In the summer of 2014, I decided to leave my job in chemistry and took a web development internship to professionally pursue what had previously only been a hobby. Since then, I have enjoyed exercising my drive for creativity and problem-solving through web development.</p>
		<h3>Here's what I've been up to since summer.</h3>
	</section>
	<aside class="mainimg"></aside>
</header>

<section class="works">
	<%= partial "works" %>
</section>

<section class="about">
	<aside class="overview">
		<div class="profile"></div>
	</aside>
	<section class="bio">
		<p>My name is Nilubol, but since its meaning becomes lost in translation, I prefer to go by April Duangjumpa. I received my B.Sc. in Biochemistry from the University of Akron but quickly fell in love with the versatility and practicality that web development offers. Having taught myself HTML and CSS as a teenager, I began developing and expanding upon these skills professionally after college through interning and freelance work.</p>
		<p>I grew up in Philadelphia and recently moved back to the city, which means that I am constantly discovering novelty within a familiar landscape. I also take this approach with my work, where I actively seek out new technologies and their potential applications. Want to work together? Get in touch.</p>
		<ul class="skills">
			<li><span class="key">Skills</span> HTML, CSS, JavaScript, PHP, WordPress, Drupal</li>
			<li><span class="key">I'm Learning</span> Ruby on Rails, Rosalind bioinformatics</li>
			<li><span class="key">For Fun</span> soapmaking, zines, travel, running</li>
		</ul>
		<ul class="links">
			<li><a href="">Email</a></li>
			<li><a href="" target="_blank">Twitter</a></li>
			<li><a href="" target="_blank">Github</a></li>
			<li class="last"><a href="" target="_blank">LinkedIn</a></li>
		</ul>
	</section>
</section>

<footer>
	<section class="footer">
		<p>&copy; 2014 Nilubol Duangjumpa</p>
	</section>
</footer>